<div class="container">
  <div 
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
>
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">the Book of Jack</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item"><a href="/about" class="nav-link">About</a>
      </li>
    </ul>
  

    <div class="dropdown ms-3">
  <button class="btn btn-outline-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
    Theme
  </button>

  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <button class="dropdown-item" data-bs-theme-value="light">
        ☀ Light
      </button>
    </li>
    <li>
      <button class="dropdown-item" data-bs-theme-value="dark">
        🌙 Dark
      </button>
    </li>
    <li>
      <button class="dropdown-item" data-bs-theme-value="auto">
        ⚙ Auto
      </button>
    </li>
  </ul>
</div>

</div>



  </div>